<%- include("../parts/html-head") %>
<%- include("../parts/navbar") %>

<style>

</style>

<main class="main-content p-3">
  <!-- 大標 -->
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="m-0">營地管理</h2>
    <a href="/sales-panel/camp-list-add" class="btn btn-outline-success">新增營地</a>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><i class="fa-solid fa-trash"></i></th>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Introduction</th>
            <th>update_time</th>
            <th><i class="fa-solid fa-pen-to-square"></i></th>
          </tr>
        </thead>
        <tbody>
          <% for(let r of rows) { %>
          <tr>
            <td>
              <a href="javascript: deleteOne(<%= r.stores_id %>)"><i class="fa-solid fa-trash"></i></a>
            </td>
            <td><%= r.stores_id %></td>
            <td><%= r.name %></td>
            <td><%= r.mobile %></td>
            <td><%= r.address %></td>
            <td><%= r.introduction %></td>
            <td><%= r.update_time %></td>
            <td>
              <a href="/address-book/edit/<%= r.stores_id %>"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 分頁按鈕 -->
  <div class="col-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item <%= page === 1 ? "disabled" : "" %>">
          <a class="page-link" href="?<%= new URLSearchParams({...qs, page: 1}) %>">
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>

        <li class="page-item <%= page === 1 ? "disabled" : "" %>">
          <a class="page-link" href="?<%= new URLSearchParams({...qs, page: page - 1}) %>">
            <i class="fa-solid fa-chevron-left"></i>
          </a>
        </li>

        <!-- paramsObj => 單層複製 qs 物件，並添加 page 屬性的對象 -->
        <!-- URLSearchParams() => 把物件轉換成 query string(urlencoded)，生成包含所有查詢參數的字串 -->
        <% for(let i = page - 5; i <= page + 5; i++) if(i >= 1 && i <= totalPages) { const paramsObj = {...qs, page: i} %>
        <li class="page-item <%= i === page ? "active" : "" %>">
          <a class="page-link" href="?<%= new URLSearchParams(paramsObj) %>"><%= i %></a>
        </li>
        <% } %>

        <li class="page-item <%= page === totalPages ? "disabled" : "" %>">
          <a class="page-link" href="?<%= new URLSearchParams({...qs, page: page + 1}) %>">
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>

        <li class="page-item <%= page === totalPages ? "disabled" : "" %>">
          <a class="page-link" href="?<%= new URLSearchParams({...qs, page: totalPages}) %>">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  
</main>

<%- include("../parts/scripts") %>
<script>
  // const deleteOne = async (stores_id) => {
  //   if (confirm(`是否要刪除編號為 ${stores_id} 的資料?`)) {
  //     const r = await fetch(`/sales-panel/camp-list/${stores_id}`, { method: "DELETE" });
  //     const result = await r.json();
  //     console.log(result);

  //     location.reload(); // 重載頁面
  //   }
  // };
</script>
<%- include("../parts/html-foot") %>
