<%- include("../parts/html-head") %>
<%- include("../parts/navbar") %>
<main class="main-content p-3">
  <!-- 大標 -->
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="m-0">評論管理</h2>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><i class="fa-solid fa-trash"></i></th>
            <th>評論ID</th>
            <th>會員名稱</th>
            <th>商家名稱</th>
            <th>星數</th>
            <th>留言內容</th>
            <th>發表時間</th>
            <th><i class="fa-solid fa-pen-to-square"></i></th>
          </tr>
        </thead>
        <tbody>
          <% for(let r3 of rows3) { %>
          <tr>
            <td>
              <a href="javascript: deleteOne()"><i class="fa-solid fa-trash"></i></a>
            </td>
            <td><%= r3.comment_id %></td>
            <td><%= r3.customer_name %></td>
            <td><%= r3.store_name %></td>
            <td><%= r3.comment_star %></td>
            <td><%= r3.comment_content %></td>
            <td><%= r3.comment_created_at %></td>
            <td>
              <a href="/address-book/edit/"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>


<%- include("../parts/scripts") %>
<%- include("../parts/html-foot") %>