<%- include("../parts/html-head") %>
<%- include("../parts/navbar") %>
<main class="main-content p-3">
  <!-- 大標 -->
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="m-0">優惠券管理</h2>
    <a href="/sales-panel/coupon-list-add" class="btn btn-outline-success">新增優惠券</a>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><i class="fa-solid fa-trash"></i></th>
            <th>#</th>
            <th>優惠券名稱</th>
            <th>折扣碼</th>
            <th>折扣</th>
            <th>開始日期</th>
            <th>結束日期</th>
            <th><i class="fa-solid fa-pen-to-square"></i></th>
          </tr>
        </thead>
        <tbody>
          <% for(let r2 of rows2) { %>
          <tr>
            <td>
              <a href="javascript: deleteOne()"><i class="fa-solid fa-trash"></i></a>
            </td>
            <td><%= r2.id %></td>
            <td><%= r2.name %></td>
            <td><%= r2.hash %></td>
            <td><%= r2.coupon_off %></td>
            <td><%= r2.time_start %></td>
            <td><%= r2.time_end %></td>
            <td>
              <a href="/sales-panel/coupon-list-edit/<%= r2.id %>"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>


<%- include("../parts/scripts") %>
<%- include("../parts/html-foot") %>